<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../images/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../images/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../images/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="../images/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <link rel="stylesheet" href="../styles/normalize.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/responsive.css">
        <script src="../scripts/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

        <header class="clearfix">
          <a class="control_left icon corner-all drop-shadow" href="#">
            <img src="../images/icon-settings.png">
          </a>
          <a href="#">
            <img class="logo" src="../images/logo.png">
          </a>
          <a class="control_right icon corner-all drop-shadow" href="#">
            <img src="../images/icon-search.png">
          </a>
        </header>
        
        <!-- Place Scripts here -->
        <script src="../scripts/vendor/zepto.min.js"></script>
        <script src="../scripts/vendor/mbp.helper.js"></script>

        <!-- Google Analytics: Should we implement them? What google account should we use? -->
        <script>
          //var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
          //(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
          //g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
          //s.parentNode.insertBefore(g,s)}(document,"script"));
        </script>
    </body>
</html>
