<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="description" content="">
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width">
      <meta http-equiv="cleartype" content="on">

      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/touch/apple-touch-icon-144x144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../images/touch/apple-touch-icon-114x114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../images/touch/apple-touch-icon-72x72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="../images/touch/apple-touch-icon-57x57-precomposed.png">
      <link rel="shortcut icon" href="../images/touch/apple-touch-icon.png">

      <!-- Tile icon for Win8 (144x144 + tile color) -->
      <meta name="msapplication-TileImage" content="images/touch/apple-touch-icon-144x144-precomposed.png">
      <meta name="msapplication-TileColor" content="#222222">

      <link rel="stylesheet" href="../styles/normalize.css">
      <link rel="stylesheet" href="../styles/main.css">
      <link rel="stylesheet" href="../styles/responsive.css">
      <link rel="stylesheet" href="../styles/sidetap.css">

      <script src="../scripts/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>

    <div class="sidetap">
      <div class="stp-nav">
        <div>
          <nav>
            <a href="#" class="selected">Selected Nav Item</a>
            <a href="#">Second Nav Item</a>
            <a href="#">Third Nav Item</a>
            <a href="#">Fourth Nav Item</a>
          </nav>
        </div>
      </div>

      <div class="stp-content" id="content">
        <header class="stp-fake-header">&nbsp;</header>
        <div class="stp-overlay nav-toggle">&nbsp;</div>

        <!-- Content Divs Look Like This -->
        <div class="stp-content-panel">
          <header class="clearfix">

            <a class="control_left icon corner shadow" href="#">
              <img src="../images/icon-settings.png">
            </a>

            <a href="#">
              <img class="logo" src="../images/logo.png">
            </a>

            <a class="control_right icon corner shadow" href="#">
              <img src="../images/icon-search.png">
            </a>

          </header>

          <form class="header_search">
            <input class="shadow-inset corner" type="text">
          </form>
          <div class="stp-content-frame">
            <div class="stp-content-body">
              <div>
                Content goes here.
              </div>
            </div>
          </div>
        </div>
        <!-- End content Div -->
      </div>
    </div>











    <script src="../scripts/vendor/zepto.min.js"></script>
    <script src="../scripts/vendor/mbp.helper.js"></script>
    <script src="../scripts/vendor/sidetap.min.js"></script>
    <script src="../scripts/main.js"></script>

    <script>
      var st = sidetap();
      $("header a.control_left").on("click",st.toggle_nav)
    </script>
    <!-- Google Analytics? -->
  </body>
</html>
